.pokemon_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchbar {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: row;
}

.pokemon .text-view {
  display: flex;
  flex-direction: column;
}

.pokemon .text-view .detail {
  display: flex;
  align-items: center;
}
.pokemon .text-view .detail p {
  margin: 0px 5px;
}

.pokemon_group {
  max-width: 80%;
  margin: 40px auto;
  border: 1px solid black;
}
