.pokemon_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchbar {
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.searchbar input {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
}

.pokemon {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 1px solid black;
  align-items: center;
}

.pokemon .text-view {
  display: flex;
  flex-direction: column;
}

.pokemon .text-view .detail {
  display: flex;
  align-items: center;
}
.pokemon .text-view .detail p {
  margin: 0px 5px;
}

.pokemon_group {
  max-width: 80%;
  margin: 40px auto;
  border: 1px solid black;
}

.pokemon {
  color: black;
}

.pokemon:hover {
  color: red;
}

a {
  text-decoration: none;
}
